<div class='row'>
  <div id="panel" data-id=<%= @id %>>
    <div class="card col s6 offset-s3"  >
      <div id="body" class="card-content black-text">
        <span id='heading' class='card-title'></span>
        <ul id="products">
        </ul>
      </div>
    </div>
  </div>
</div>